html {
    font-size: 62.5%;
}
body {
    margin: 0;
    overflow-x: hidden;
}
:root {
    --theme-color: #2E506D;
}
section.fixed {
    position: fixed;
    width: 100vw;
    height: 100vh;
}
div.forum {
    width: 800px;
    height: 800px;
    margin: auto;
}
h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 6.5rem;
    font-family: Prociono, sans-serif;
}
form.inputs, div.back {
    width: fit-content;
    margin: auto;
    display: grid;
}
div.back, div.back a {
    padding-top: 10px;
    text-decoration: none;
    color: var(--theme-color);
    font-size: 2rem;
}
a:hover {
    filter: brightness(0.65);
}
input, textarea {
    width: 300px;
    border-color: var(--theme-color);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 1.5rem;
}
textarea#message {
    height: 70px;
}
input:hover {
    cursor: pointer;
}
input[type="submit"] {
    display: block;
    width: 150px;
    height: 36px;
    margin: auto;
    font-size: 1.5rem;
    background-color: var(--theme-color);
    border-width: 0;
    color: #F7F8FA;
    font-family: Prociono, sans-serif;
    border-radius: 8px 12px;
}
div.foot {
    background-color: var(--theme-color);
    width: 100vw;
    height: 55px;
    display: inline-block;
    place-items: center ;
    bottom: -55px;
    position: absolute;
}
div.foot p {
    font-size: 1.7rem;
    font-family: Prociono, sans-serif;
    color: white;
}