html {
    font-size: 62.5%;
}
body {
    margin: 0px;
    overflow-x: hidden;
}
section {
    display: grid;
}
div.mobnavdiv {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.822);
    position: fixed;
    top: 0;
}
.mobile-btn {
    margin: 50px 0.5vw;
    position: fixed;
    z-index: 1;
    width: 7%
}
.bar1, .bar2, .bar3 {
    width: 100%;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
aside div.nav {
    position: sticky;
    top: 10px;
    margin-top: -10px;
    height: 99vh;
}
ul.ul1 {
    list-style: none;
    text-align: right;
}
ul.ul2 {
    list-style: none;
    text-align: left;
    position: absolute;
    bottom: 0px;
    left: -40px;
}
ul.ul3 {
    list-style: none;
    text-align: center;
    margin: auto;
    margin-top: 31vh;
}
li, button, a {
    font-family: Prociono, sans-serif;
    font-size: 3vh;
    text-decoration: none;
    color: initial;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
button:hover, a:hover, .bold{
    font-weight: bold;
    cursor: pointer;
}
button.bold:hover {
    cursor: none;
}
/* image section */
div.image-space-inner {
    width: 93.5%;
    padding-top: 20px;
    margin: auto;
}
img {
    width: 100%;
    padding-bottom: 30px;
    margin: auto;
}
div.row {
    display: grid;grid-template-columns: 1fr 1fr;grid-gap: 35px;
}
div.cust1 {
    grid-template-columns: 1fr 1.2fr;
}
div.cust2 {
    grid-template-columns: 1.329fr 1fr;
}
div.cust3 {
    grid-template-columns: 2.302fr 1fr;
}
div.cust4 {
    grid-template-columns: 1fr 1.125fr;
}
div.cust5 {
    grid-template-columns: 1.656fr 1fr;
}
div.cust6 {
    grid-template-columns: 1fr 1.16fr;
}
div.cust7 {
    grid-template-columns: 1.8fr 1fr;
}
div.cust8 {
    grid-template-columns: 1.129fr 1fr;
}
div.cust9 {
    grid-template-columns: 1fr 2fr;
}
div.cust10 {
    grid-template-columns: 1fr 1.055fr;
}
div.cust11 {
    grid-template-columns: 1fr 1.229fr;
}
div.cust12 {
    grid-template-columns: 1fr 2.34fr;
}
div.cust13 {
    grid-template-columns: 1.53fr 1fr;
}
@media (max-aspect-ratio: 5/4) {
    section {
        grid-template-columns: 2fr 0 98fr 0;
    }
    img {
        padding-bottom: 20px;
        pointer-events: none;
    }
    nav.navbar, nav.navbar2 {
        display: none !important;
    }
    ul.ul1 {
        text-align: center;
    }
    div.image-space {
        padding-left: 3vw;
    }
    div.mobnavdiv {
        visibility: hidden;
    }
}
@media (min-aspect-ratio: 5/4) {
    section {
        grid-template-columns: 0 0.5fr 2fr 0.5fr;
    }
    div.mobnavdiv, .hidden, .mobnav {
        visibility: hidden !important;
    }
}